$inner-container: $reflex-lg;
$container: $reflex-xlg;

$blue: #0046ad;
$blue_light: #80A2D4;
$teal: #00a5af;
$plum: #B71668;
$yellow: #ffcd00;
$green: #B0D959;

$white: #ffffff;
$dark_black: #333333;
$light_white: #f3f3f3;
$light_white2: #f9fafb;
$light_white3: #f5f4f3;
$black: #000000;
$light_black: #756767;
$codGray:#121f1c;
$dark_grey: #343a40;
$light_grey: #f5f0eb;
$light_grey2: #CACACA;
$gallery: #eeeeee;
$mineShaft: #313131;
$silver: #cccccc;
$alto: #dfdfdf;
//layout colors

$site_background: $light_white;

//Brand Colors

$primary_color: #FCD7D9;
$heading_color: #1D282E;
$text_color: #1D282E;
$button_color: #450A0D;
$link_color: #450A0D;
$link_hover_color: #921F47;
$footer_color: #a8bbc4;
$primary_back: #f7f7f7;
$form_color: #FFF3F3;
$quote_color: #F4D2D4;
$slider_dot_color: #FDE7E8;
$border_color: #450A0D;
$background_hover: #fff3f3;

//Box shadows
$box_shadow: 0 0 15px rgba(30, 30, 30, .15);
$box_shadow1: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
$box_shadow2: 0 50px 100px 0 rgba(3,3,3,.02);
$box_shadow3: 0 30px 70px 0 rgba(223,227,234,.5);
$box_shadow4: -1px 1px 0px 0px rgba(223,223,223,1);


//Images
$menu_icon: url('assets/images/icon_menu.svg');
$close_icon: url('assets/images/icon_menu_x.svg');


//Font
$mainFont: 'Playfair Display', serif;
$titleFont: 'Playfair Display', serif;
$headerFont: 'Playfair Display', serif;
$textFont: 'Source Sans Pro', sans-serif;
$buttonFont: 'Source Sans Pro', sans-serif;
$singFont: 'Sacramento', cursive;
