.about {
  .container-full {
    padding: 0;
    max-width: 1920px;
  }

  // theme ovverride for grid:
  .grid {
    @include x-small {
      margin: 0 !important;
    }
  }

  &__images {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 45%;
    z-index: 1;
    border-radius: 0px 20px 20px 0px;
    max-width: 330px;

    @include min-small {
      padding-top: 100%;
      max-width: 400px;
    }
  }
  &__content {
    max-width: 875px;
    margin-top: 20px;
    padding: 0 20px;

    @include min-x-small {
      padding: 0 40px;
    }

    @include min-small {
      margin-top: 0px;
      padding: 0 20px;
    }

    p {
      font-size: 1.563rem;
      line-height: 2.313rem;
      font-weight: 600;
      color: $text_color;
      margin: 0px;
      font-family: $titleFont;

      @include min-medium {
        font-size: 2rem;
        line-height: 3.125rem;
      }
    }
  }
}
