ul.ashley-accordion {
  list-style-type: none;
  padding: 0px;
  box-sizing: border-box;
  @include min-medium {
    padding: 20px 0px 0 60px;
  }
  .accordion-inner {
    padding: 0 52px 15px;
    overflow: hidden;
    display: none;
    font-family: $buttonFont;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 20px;
    transition: height 0.3s;
    color: $button_color;

    p {
      font-size: 1rem;
      line-height: 1.626rem;
      margin: 10px 0;
      color: $button_color;
    }

    ul,
    ol {
      padding-left: 15px;
    }

    a {
      color: $link_color;
      text-decoration: underline;

      &:hover {
        color: $link_hover_color;
      }
    }

    @include min-medium {
      padding: 0 56px 15px;
    }

    &.show {
      display: block;
    }

    &.all-accordion-show {
      display: block;
    }
  }

  li {
    background-color: $primary_color;
    border-radius: 10px;

    a.accordion-toggle {
      position: relative;
      display: block;
      padding: 12px 20px 0px 20px;
      background-color: $white;
      color: $button_color;
      transition: background 0.3s ease;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $buttonFont;
      font-weight: 600;
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1.875rem;
      cursor: pointer;
      @include min-medium {
        font-size: 1.5rem;
        line-height: 1.875rem;
      }

      &:after {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        right: 20px;
        position: absolute;
      }

      &.current {
        background-color: $primary_color;
        border-radius: 10px;
        font-weight: 700;
        &:after {
          content: "\f107";
        }
      }
      @include min-medium {
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 10px;
      }
    }
  }
}

// small fix which display borders to the  inner content
div.accordion-inner li {
  border-top: 0;
}
