/* Button */

.btn-primary {
  padding: 5px 20px;
  font-size: 18px;
  display: inline-block;
  background: $primary_color;
  font-family: $buttonFont;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: $button_color;
  border-radius: 10px;
  position: relative;
  @include min-small {
    padding: 10px 25px;
    font-size: 22px;
  }
  @include min-medium {
    padding: 17x 30px;
    font-size: 24px;
  }
}
.btn-primary.btn-primary-icon {
  padding: 12px 75px 12px 25px;
  @include min-small {
    padding: 12px 65px 12px 25px;
  }
  @include min-medium {
    padding: 12px 70px 12px 25px;
  }
}
.btn-primary-icon::before {
  position: absolute;
  content: "";
  background-image: url("assets/images/arrow.png");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  right: 12px;
  top: 20px;
}
.ashley-loadmore {
  background-color: $primary_color;
  border: 0;
  font-size: 1.5rem;
  width: 100%;
  padding: 1.875rem;
  letter-spacing: 0.2em;
  margin: 15px 0;
  font-family: $buttonFont;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px 0;
  color: $button_color;
}

.btn {
  border: 0;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  overflow: hidden;
  font-size: 1rem;
}
.btn-outline {
  background-color: $primary_color;
  padding: 14px 34px;
  color: $white;
  @include x-small {
    padding: 10px 22px;
    font-size: 0.875rem;
  }
}
.intro-block-button {
  border-radius: 40px;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: $primary_color;
    border-radius: 40px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    background-color: transparent !important;
    &:before {
      right: 0;
      left: 0;
      opacity: 1;
    }
  }
}

// slick slider dot

.slick-dots li.slick-active button {
  &:before {
    color: $button_color;
  }
}
.slick-dots li button {
  &:before {
    color: $slider_dot_color;
  }
}
