ul.contact-us {
  li {
    border-bottom: 1px dashed $primary_color;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    font-family: $buttonFont;
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0 !important;
      padding-bottom: 0;
    }
    span {
      font-weight: 700;
      margin-right: 5px;
    }
  }
}
