.cta {
  padding: 30px 0;
  &__heading {
    text-align: center;

    @include min-medium {
      text-align: left;
    }

    h5 {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $button_color;
      margin: 0;
      padding-bottom: 20px;

      @include min-small {
        font-size: 1rem;
        line-height: 1.25rem;
      }

      &:after {
        content: "";
        position: relative;
        display: block;
        height: 2px;
        width: 50px;
        background-color: $button_color;
        bottom: -12px;

        @include medium {
          left: 50%;
          margin-left: -25px;
        }
      }
    }

    h2 {
      position: relative;
      margin: 0;
      font-size: 1.375rem;
      line-height: 1.625rem;
      color: $heading_color;

      @include min-small {
        font-size: 1.5rem;
        line-height: 1.75rem;
      }
    }
  }
  &__contact {
    text-align: center;

    @include min-medium {
      text-align: left;
    }

    span {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.625rem;
      color: $button_color;

      @include min-small {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }

    p {
      position: relative;
      font-family: $buttonFont;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $button_color;
      margin: auto 0px;

      @include min-small {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
  &__btn {
    text-align: center;
    margin-top: 12px;

    @include min-medium {
      text-align: right;
      margin-top: 0px;
    }
  }
}
