.ashley-elementor-common {
  .elementor-widget-container {
    position: relative;
    margin-bottom: 25px;
    padding: 25px 30px;
    border: 1px solid;
    border-color: $button_color;
    border-radius: 20px;
    @include medium {
      padding: 20px;
    }
  }
  .widget-title {
    position: relative;
    bottom: 0px;
    font-family: $buttonFont;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    text-align: center;
    color: $button_color;
    margin: -22px 0px 25px;
    text-transform: uppercase;

    span {
      background: $white;
      padding: 0 10px;
    }

    @include min-medium {
      bottom: -12px;
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin: -52px 0px 25px;
    }
  }
}

.ashley-elementor-common
  .elementor-widget-container
  span.PIN_1610201702716_embed_grid.PIN_1610201702716_c3 {
  max-width: 100% !important;
  border: 0;
  padding: 0;
}
span.PIN_1610202132190_embed_grid.PIN_1610202132190_c5 {
  max-width: 1205px !important;
  min-width: 100% !important;
  width: 100%;
}
.ashley-elementor-common .elementor-widget-container span.PIN_1610201702716_bd {
  padding: 0 !important;
}
