.faq {
  @include min-small {
    padding: 0px;
  }

  &__content {
    display: flex;
    margin-bottom: 15px;
    h5 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.8px;
      margin: 0;
      color: $heading_color;
      text-transform: uppercase;

      @include min-x-small {
        font-size: 1.563rem;
        line-height: 2rem;
      }

      @include min-small {
        font-size: 2.25rem;
        line-height: 2.625rem;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.875rem;
      letter-spacing: 0.8px;
      color: $heading_color;
      margin: 0px;
      margin-left: 8px;

      @include min-x-small {
        font-size: 1rem;
        line-height: 2.5rem;
      }

      @include min-small {
        font-size: 1.25rem;
        line-height: 3.5rem;
      }
    }
  }
  &__list {
  }
  ul.faq-accordion {
    width: 100%;
    list-style-type: none;
    margin-top: 15px;
    box-sizing: border-box;
    list-style: none !important;
    padding-left: 0 !important;

    .accordion-inner {
      padding: 18px 36px 18px 18px;
      overflow: hidden;
      display: none;
      font-family: $buttonFont;
      font-weight: 400;
      font-family: $buttonFont;
      font-size: 1rem;
      line-height: 1.625rem;
      margin-top: 0;
      color: $button_color;
      margin-bottom: 10px;
      @include min-medium {
        font-size: 1.5rem;
        line-height: 1.875rem;
      }

      ul,
      ol {
        padding-left: 15px;
      }

      a {
        color: $link_color;
        text-decoration: underline;

        &:hover {
          color: $link_hover_color;
        }
      }

      &.show {
        display: block;
        font-size: 1rem;
        line-height: 1.625rem;
        padding-top: 0;
      }

      &.all-accordion-show {
        display: block;
      }
    }

    li {
      background-color: $primary_color;
      border-radius: 10px;

      a.accordion-toggle {
        position: relative;
        display: block;
        padding: 12px 20px 0px 20px;
        background-color: $white;
        color: $button_color;
        transition: background 0.3s ease;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $buttonFont;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.8px;
        cursor: pointer;
        margin-bottom: 10px;
        @include min-medium {
          font-size: 1.5rem;
          line-height: 1.875rem;
        }

        &:after {
          content: "\f105";
          font-family: "Font Awesome 5 Free";
          right: 20px;
          position: absolute;
        }

        &.current {
          background-color: $primary_color;
          border-radius: 10px;
          font-weight: 700;
          &:after {
            content: "\f107";
          }
        }
        @include min-medium {
          font-size: 1.5rem;
          line-height: 1.875rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// small fix which display borders to the  inner content
div.accordion-inner li {
  border-top: 0;
}

/* Contact Form 7 */

#wpcf7-f392-p411-o1 {
  margin-top: -32px;
  padding: 0 15px;
}
.wpcf7-form.init p {
  margin-bottom: 0;
  margin-top: 0;
}
.wpcf7-form input[type="email"],
.wpcf7-form input[type="text"],
.wpcf7-form textarea {
  background-color: $form_color;
  font-family: $buttonFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgba(69, 10, 13, 0.35);
  letter-spacing: 0.01em;
  border: 1px;
  border-bottom: 1px solid $button_color;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  width: 100%;

  @include min-small {
    width: 100%;
  }
}
.wpcf7-form button {
  @include small {
    width: 140px;
    text-align: left;
  }
  position: relative;
  padding: 12px 25px;
  background: $primary_color;
  font-family: $buttonFont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $button_color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  transition: 0.2s;
  &:hover {
    background-color: $background_hover;
  }
}
