.section-heading {
  margin: 0px;
  &__title {
    text-transform: inherit;
  }
  &__content {
    margin: 0 auto;
    text-align: center;

    @include min-medium {
      max-width: 760px;
    }

    h5 {
      font-size: 1.563rem;
      line-height: 2.313rem;
      color: $heading_color;
      margin: 0;
      @include min-medium {
        font-size: 2.25rem;
        line-height: 3.25rem;
      }
    }
    p {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.625rem;
      color: $text_color;
    }
  }
}
