.hero-two {
  .grid {
    @include min-small {
      margin: 0 15px;
    }
    @include min-medium {
      margin: 0 8px;
    }
  }
  &__content {
    position: relative;
    text-align: center;
    z-index: 1;

    @include min-medium {
      text-align: left;
    }

    @include min-medium {
      max-width: 650px;
    }

    a {
      margin-left: 30px;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 3.125rem;
      font-weight: 800;
      margin-top: 20px;
      color: $heading_color;
      margin-bottom: 25px;

      @include min-small {
        font-size: 3.125rem;
        line-height: 3.75rem;
      }

      @include min-medium {
        font-size: 4.25rem;
        line-height: 5rem;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: -25px;
      }

      @include min-large {
        font-size: 4.375rem;
        line-height: 5.5rem;
        margin-left: -35px;
      }
    }
  }

  &__image {
    position: relative;
    background-size: contain;
    background-position: center;
    padding-top: 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0 auto;

    @include min-x-small {
      max-width: 400px;
    }

    @include min-medium {
      background-size: cover;
      margin: 0px;
      padding-top: 100%;
      padding-bottom: 25%;
      max-width: 100%;
    }
  }
}
