.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-medium {
    flex-direction: row;
  }

  > * {
    flex-grow: 1;
  }

  &__content {
    position: relative;
    text-align: center;
    z-index: 1;

    @include min-medium {
      text-align: right;
      flex-basis: 58%;
    }

    a {
      margin-top: 15px;
      @include min-medium {
        margin-right: 60px;
      }
    }

    h1 {
      font-size: 2.5rem;
      line-height: 3.125rem;
      font-weight: 800;
      color: $heading_color;
      margin: 0;

      @include min-small {
        font-size: 3.125rem;
        line-height: 3.75rem;
      }

      @include min-medium {
        font-size: 4.25rem;
        line-height: 5rem;
      }

      @include min-large {
        font-size: 4.375rem;
        line-height: 5.5rem;
        margin-left: 140px;
      }
    }
  }

  &__outter {
    @include min-medium {
      margin-left: -29px;
    }

    @include min-large {
      margin-left: -29px;
      margin-right: -30px;
    }
  }

  &__image {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    padding-bottom: 25%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 50px;

    @include min-medium {
      margin-top: 0px;
    }
  }

  &__sign {
    position: relative;
    z-index: 1;
    margin-top: -28px;
    font-family: $singFont;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
    color: $button_color;
    text-align: center;
  }
}
