#sb_instagram .sbi_photo {
  border-radius: 10px;
}
#sb_instagram .sb_instagram_header {
  margin-bottom: 30px !important;
  margin-top: -35px;
}
#sb_instagram .sb_instagram_header a {
  text-decoration: none;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}
#sb_instagram .sb_instagram_header .sbi_header_text {
  width: auto;
}
#sb_instagram .sb_instagram_header .sbi_header_text .sbi_bio,
#sb_instagram .sb_instagram_header .sbi_header_text h3 {
  margin: 0 !important;
}
#sb_instagram .sb_instagram_header .sbi_header_img {
  float: none;
  margin: 0 !important;
}
#sb_instagram .sb_instagram_header .sbi_header_text {
  width: auto;
  order: 2;
  margin-left: 10px;
}
span.PIN_1610138354475_embed_grid.PIN_1610138354475_c3 {
  max-width: 100%;
  min-width: 100%;
}
