.my-offer {
  .container-full {
    padding: 0;
    max-width: 1920px;
  }

  // theme ovverride for grid:
  .grid {
    @include x-small {
      margin: 0 !important;
    }
  }

  &__image {
    position: relative;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 20px 20px 0px;
    max-width: 330px;

    @include min-small {
      padding-top: 100%;
      padding-bottom: 25%;
      max-width: 400px;
    }
  }
  &__bg {
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40%;
    position: relative;
    margin: -55px auto;
    display: block;
    max-width: 254px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__content {
    position: relative;
    max-width: 875px;
    margin-top: 70px;
    padding: 0 20px;

    @include min-x-small {
      padding: 0 40px;
    }

    @include min-small {
      margin-top: 0px;
      padding: 0 20px;
    }
    h4 {
      font-size: 1.563rem;
      font-weight: 600;
      line-height: 2.313rem;
      color: $text_color;

      @include min-medium {
        font-size: 2rem;
        line-height: 3.125rem;
      }
    }
  }
  &__icon {
    vertical-align: middle;
    display: inline-block;
    i {
      font-size: 1.625rem;
    }
  }
}
