.my-services {
  &__items {
    position: relative;
    text-align: center;

    i {
      margin-right: 0;
    }

    h2 {
      font-size: 1.625rem;
      font-weight: 900;
      line-height: 1.75rem;
      margin: 0;
      color: $heading_color;

      @include min-small {
        font-size: 2.25rem;
      }
    }
    p {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $button_color;
      margin: 0px;
      margin-top: 15px;

      @include min-small {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  }
  &__preheading {
    position: relative;
    display: inline-block;
    font-family: $buttonFont;
    font-weight: 600;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1.125rem;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: $button_color;
    margin: 0px 0px 10px;
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 12px;
      left: 0;
      width: 70px;
      height: 1px;
      background-color: $button_color;
    }

    span {
      padding-left: 80px;
    }

    @include min-medium {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-family: $buttonFont;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.05em;
    color: $text_color;
    margin: 20px 0px;

    @include min-small {
      font-size: 1rem;
      line-height: 1.625rem;
      padding: 0 150px;
    }
  }
}
