/* Mailchimp */

.mailchimp-form {
  border: 1px solid $button_color;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;

  @include min-medium {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 132px;
  }
}
.mailchimp-form label {
  font-family: $buttonFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $text_color;

  span {
    display: none;

    @include min-medium {
      display: block;
    }
  }
}
.mailchimp-form input {
  background: $form_color;
  border-radius: 5px 5px 0px 0px;
  font-family: $buttonFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.01em;
  text-align: center;
  width: 100%;
  color: $button_color;
  border: 1px;
  border-bottom: 1px solid $button_color;
  height: 40px;
  padding: 0 15px;
  margin-top: 10px;
  margin-right: 20px;

  @include min-medium {
    text-align: left;
  }
}
.mailchimp-form input[type="text"] {
  margin-top: 20px;

  @include min-medium {
    width: 330px;
    margin-top: 11px;
  }
}
.mailchimp-form input[type="email"] {
  @include min-medium {
    width: 445px;
  }
}
.mailchimp-form button {
  background: $primary_color;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px;
  width: 100%;
  font-family: $buttonFont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $button_color;
  margin: 10px 0px;
  transition: 0.2s;

  @include min-medium {
    padding: 12px 28px;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0.2em;
    margin-top: 25px;
  }
}
