.post-grid {
  position: relative;

  &__heading {
    padding: 20px 0;
    font-family: $titleFont;

    @include min-large {
      position: absolute;
      top: 135px;
      left: -75px;
      transform: rotateZ(270deg);
    }
  }
  &__heading-title {
    display: inline-block;
    position: relative;
    color: $text_color;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    &:before {
      content: "";
      width: 90px;
      height: 1px;
      background: $text_color;
      position: absolute;
      top: 15px;
      right: -100px;
    }
  }

  // theme ovverride for grid:
  .grid {
    @include x-small {
      margin: 0 !important;
    }
  }

  &__items {
    position: relative;
  }
  &__image {
    height: 0;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    position: relative;
    border-radius: 20px;
  }
  &__content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 30px;
    display: block;
    background: rgba(63, 0, 0, 0.5);
    border-radius: 11px;

    a {
      color: $white;
    }
    i {
      margin: 0 6px;
      display: inline-block;
    }
  }
  &__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: $titleFont;

    @include min-medium {
      font-size: 1.625rem;
      line-height: 2.25rem;
    }

    @include min-large {
      font-size: 2.25rem;
      line-height: 3.125rem;
    }
  }
  &__details {
    font-family: $buttonFont;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.01em;
    color: $white;
    margin-top: 15px;
  }
  &__date {
    display: inline-block;
    color: $white;
    font-family: $buttonFont;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-left: 10px;
  }
  &__tabs {
    border: 1px solid $border_color;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100%;
    padding: 30px;
  }
  &__btn {
    margin: 15px 15px 15px;
    padding: 15px 15px;
    display: block;
    background: $primary_color;
    text-align: center;
    font-family: $buttonFont;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: $button_color;
    border-radius: 10px;

    @include min-x-small {
      margin: 30px 0 15px;
    }

    @include min-medium {
      font-size: 1.25rem;
      line-height: 1.625rem;
      padding: 18px 20px;
      letter-spacing: 0.17em;
    }

    @include min-large {
      font-size: 1.5rem;
      line-height: 1.875rem;
      padding: 20px 30px;
      letter-spacing: 0.2em;
    }
  }
}
