.services {
  .even-service {
    padding: 80px 0;

    .services__content {
      text-align: right;
    }

    h4 {
      padding-right: 58px;
      padding-left: 0px;

      &:after {
        display: none;
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 8px;
        right: 0;
        width: 60px;
        height: 1px;
        background-color: $button_color;

        @include min-medium {
          top: 12px;
        }
      }
    }
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  &__content {
    position: relative;
    text-align: left;

    @include min-small {
      padding: 0px;
    }

    a {
      font-size: 1.125rem;
      font-family: $textFont;
      font-weight: 700;
      line-height: 1.75rem;
      letter-spacing: 3.2px;
    }

    h2 {
      font-size: 1.375rem;
      line-height: 1.75rem;
      font-weight: 900;
      text-transform: capitalize;
      color: $heading_color;
      margin-bottom: 0;
      @include min-x-small {
        font-size: 1.563rem;
        font-weight: 900;
        line-height: 2.188rem;
      }

      @include min-medium {
        font-size: 2.25rem;
        line-height: 2.625rem;
      }
    }
    p {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 0.8px;
      color: $text_color;

      @include min-medium {
        margin-bottom: 45px;
      }
    }
  }
  &__title {
    position: relative;

    h4 {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 3.2px;
      color: $button_color;
      text-transform: uppercase;
      margin: 0;
      padding-left: 66px;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 8px;
        left: 0;
        width: 60px;
        height: 1px;
        background-color: $button_color;

        @include min-medium {
          top: 12px;
        }
      }

      @include min-medium {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
    }

    @include min-x-small {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
}
.grid.odd-service,
.grid.even-service {
  margin: 0 !important;
}
