ul.ashley-news-tabs {
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  font-weight: bold;
  font-family: $buttonFont;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
ul.ashley-news-tabs li {
  flex-grow: 1;
  color: $button_color;
  padding: 8px 10px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.125rem;
  border: 1px solid $primary_color;
  border-radius: 5px;
  &:first-child {
    margin-right: 20px;
  }
}

ul.ashley-news-tabs li.current {
  background: $primary_color;
  border-radius: 5px;
}

.ashley-tab-content {
  padding: 10px 0;
}
.ashley-tab-content.current {
  display: none;
}
