.testimonial {
  h2 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 2rem;
    color: $heading_color;
    text-align: center;
    margin: 0 0 22px;

    @include min-x-small {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    @include min-small {
      font-size: 2.25rem;
      line-height: 2.625rem;
    }
  }
  &__items {
    position: relative;
    text-align: center;

    &:before {
      content: "";
      background-image: url("assets/images/left-quote.png");
      position: absolute;
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: 60px;
      background-repeat: no-repeat;
      left: 10px;
      top: 0;
      @include min-medium {
        width: 80px;
        height: 80px;
        background-size: 80px;
      }
    }
    &:after {
      content: "";
      background-image: url("assets/images/right-quote.png");
      position: absolute;
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: 60px;
      background-repeat: no-repeat;
      right: 10px;
      bottom: 0;
      @include min-medium {
        width: 80px;
        height: 80px;
        background-size: 80px;
      }
    }
    p {
      font-family: $buttonFont;
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 0.7px;
      color: $button_color;
      padding: 30px 46px 0px;

      @include min-medium {
        margin: auto 100px 14px;
      }
    }
  }
  &__info {
    padding-bottom: 20px;
    h4 {
      font-size: 1.25rem;
      font-weight: 900;
      line-height: 1.75rem;
      color: $heading_color;
      margin-top: 0px;
      margin-bottom: 0px;
      text-transform: capitalize;

      @include min-medium {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    span {
      font-family: $buttonFont;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      color: $button_color;
      text-transform: uppercase;

      @include min-medium {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    span + span {
      font-weight: normal;
      text-transform: capitalize;
    }
  }
  &__area {
    background: rgba(252, 215, 217, 0.6);
    border-radius: 20px;
    padding: 10px;

    @include min-large {
      .slick-prev {
        background: rgba(252, 215, 217, 0.6);
        left: -70px;
        height: 50px;
        line-height: 40px;
        opacity: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        visibility: visible;
        width: 50px;
        z-index: 1;
        border-radius: 7px;
        &:before {
          content: "\f060";
          font-family: "Font Awesome 5 free";
          font-weight: 900;
          color: $dark_black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .slick-next {
        background: rgba(252, 215, 217, 0.6);
        left: auto;
        right: -70px;
        height: 50px;
        line-height: 40px;
        opacity: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        visibility: visible;
        width: 50px;
        z-index: 1;
        border-radius: 7px;
        &:before {
          content: "\f061";
          font-family: "Font Awesome 5 free";
          font-weight: 900;
          color: $dark_black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button::before {
  content: "";
  opacity: 1;
  background-color: $primary_color;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background-color: #450a0d;
}
.grid.no-margin {
  margin: 0 !important;
}
.testimonial__area .slick-dots {
  bottom: -40px;
}
